doctype html
html
  head
    title MkJ Dance Academic - #{title}
    block scripts
    block style
  body
    nav#navbar 
      .logo
        img(src="Static/bg2_files/logo6.webp", alt="")
        |  M D A
      ul 
        li #[a(href"/") Home]
        li #[a(href"/") About]
        li #[a(href"/") Services]
        li #[a(href"/") Class Info]
        li #[a(href"/") Contact Us]
      div#log
        li #[a(href"/") Log In]
        li #[a(href"/") Sign Up]
    block content
    block footer 
        .site-footer
            .container
                .row
                .col-sm-12.col-md-6
                    h6 About
                    p.text-justify
                        | Scanfcode.com 
                    i  
                        |  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita magni unde iusto cum velit reprehenderit sint mollitia praesentium? Quis, illo odit. Nisi, excepturi dolores at et labore ex saepe numquam?Aliquid id nemo fuga fugit assumenda illum quas laborum? Quod ipsam, enim, aspernatur, sint tempora natus sit suscipit dolore expedita nobis hic corrupti aperiam consequuntur ut facere. Libero, maiores maxime.Dicta recusandae omnis, ut voluptatum voluptas error tenetur voluptatibus officia, enim beatae nisi sint nulla in dolorum quis vel numquam nesciunt fugiat veritatis dolor reiciendis quae ad. Voluptas, dolorum a.Aperiam totam placeat consectetur quo pariatur ullam veritatis dolores odio, magni magnam enim est dolore. Ut fuga odio officiis maxime dolore porro, voluptate accusamus consequuntur aperiam, atque ad quia modi.Hic eum veritatis ad. Eligendi doloremque dolore, similique nesciunt hic architecto, delectus iste ducimus, placeat cupiditate totam magni? Illum reiciendis in facilis! Error eius in officia omnis cum. Eveniet, natus?Itaque autem deleniti impedit esse sequi aliquid quae dolorum reprehenderit dolore suscipit minus accusamus dicta in porro tempora omnis, dolores iste vel. Vero ad molestiae sit, officia earum voluptas suscipit.Delectus quae, fugit, minus explicabo ex, libero tempora et aspernatur in obcaecati ducimus praesentium suscipit dignissimos voluptatibus ad. Porro odit nemo corrupti suscipit dolorem tempore ab nulla ipsam accusamus quidem.Nam provident aspernatur minima rerum facere iure ipsa laudantium suscipit a ab nesciunt modi voluptas fuga aut harum, laboriosam velit totam similique odio eligendi maxime? Quos minus illo velit rerum.Exercitationem autem voluptates ut, sint iusto tempore et magni magnam perferendis sapiente consequuntur distinctio possimus labore non inventore molestias? Enim, blanditiis rem tenetur asperiores quibusdam libero impedit dicta rerum sed.Minus aspernatur qui beatae maiores porro error fugiat impedit, incidunt iste dolor temporibus, recusandae nesciunt quia officia quisquam ducimus quasi consequuntur cumque assumenda optio suscipit ipsam quibusdam sit illum. Beatae!
                .col-xs-6.col-md-3
                    h6 Quick Links
                    ul.footer-links056
                        li
                            a(href='') Contact Us
                        li
                            a(href='') Contribute
                        li
                            a(href='') Privacy Policy
                        li
                            a(href='') Sitemap
                hr
            .container
                .row
                .col-md-8.col-sm-6.col-xs-12
                    p.copyright-text
                        | Copyright &copy; 2022 All Rights Reserved by 
                        a(href='#') MKJ
                        | .
                .col-md-4.col-sm-6.col-xs-12
                    ul.social-icons
                        li
                            a.facebook(href='https://www.facebook.com/mahesh.jaiswal.395454/')
                                img(src="/Static/bg2_files/fb2.png", alt="")
                        li
                            a.twitter(href='https://twitter.com/MKJ_07')
                                img(src="/Static/bg2_files/twitter.jpg", alt="")
                        li
                            a.instagram(href='https://www.instagram.com/its_mkj07/')
                                img(src="/Static/bg2_files/instagram.jpg", alt="")
                        li
                            a.linkedin(href='https://www.linkedin.com/in/mahesh-kumar-jaiswal-1501581b6/')
                                img(src="/Static/bg2_files/linkedin.png", alt="")